*{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    box-sizing: border-box;
}
body{
    background: #FCFFFF;
}

/* font-family: 'Allura',
cursive;
font-family: 'Inter',
sans-serif;

font-family: 'Poppins',
sans-serif; */
header{
    padding: 10px;
    height: 80px;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header nav ul li a{
   text-decoration: none;
   width: 80px;
   font-size: 20px;
   color: purple;
   font-weight: bold;
   margin: 0;
   padding: 0;
   
}
header nav ul li{
    /* border-top: 2px solid purple; */
    list-style: none;
}
.header-logo{
    width: 100px;
}

.banner-image img{
    width: 100%;
    padding: 10px 0;
    opacity: 100%;
}
.banner-image{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 400px;
    text-align: center;
}
.banner-text h1{
    font-size: 66px;
    color: #fff;
    padding-bottom: 20px;
    font-family: 'Open Sans',
            sans-serif;
}
.primary-button{
  width: 25%;
  border: 0;
  border-radius: 5px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
}

/* destinies zone: */
.destinies-section {
    background-color: #F5F5F5;
    font-family: 'Open Sans',
            sans-serif;
}
.destinies-section h1{
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
}
.destinies-section p{
    font-size: 22px;
    padding-bottom: 30px;
    text-align: center;
}
.destinies-images-section{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin: 0 auto;
}
.gallery-box{
    width: 320px;
    margin: 20px auto;
    overflow: hidden;
    box-sizing: content-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
   
}
.gallery-info-text{
    width: 300px;
    padding:  30px 20px;
}
.gallery-image{
    position: relative;
    padding: 10px;

}
.gallery-image img{
    height: 300px;
    width:300px;
    margin:  0 auto;
    
}
.amsterdam-image img{
width: 350px;
}

.gallery-image-text{
    position: absolute;
    top: 150px;
    background: #0000009c;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 22px;
   padding: 5px 10px;
   text-align: center;
   width: 250px;
   margin: 0 20px;
    color: #fff;
   

}

.gallery-info-text h4{
    color: red;
    padding: 10px 0;
    width: 200px;
    text-align: center;
}
.gallery-info-text h5 , .gallery-info-text a{
    width: 200px;
    text-align: center;

}